# Database Configuration
DB_NAME=multi
DB_USER=postgres
DB_PASSWORD=admin
DB_HOST=localhost
DB_PORT=5432

# Redis Configuration
REDIS_URL=redis://localhost:6379/0

# Django Configuration
SECRET_KEY=django-insecure-hn*bh*#$cv#f^kw1kyn2-9gqp4(lj2&gasw!cwb-z$f-*!op0o
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Celery Configuration
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# Channels Configuration  
CHANNEL_LAYER_BACKEND=channels_redis.core.RedisChannelLayer
CHANNEL_LAYER_HOSTS=localhost:6379

# JWT Configuration
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=60
JWT_REFRESH_TOKEN_LIFETIME_DAYS=1
